<div class="container-fluid full-size d-inline-block align-items-center justify-content-center">
  <div class="d-flex flex-direction-row">
    <img src="../../../../assets/img/logo.png" alt="platform" class="img-main">
  </div>
  <div class="d-flex align-items-center justify-content-center w-100">
    <form class="example-form h-75" [formGroup]="formCredentials" (ngSubmit)="onSubmit()">
      <mat-card class="d-flex flex-column m-2 h-75">
        <mat-card-header class="d-flex align-items-center m-2">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-5">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input #em type="email" matInput placeholder="email@email.com" formControlName="email">
            <mat-icon #tooltip="matTooltip"
                  *ngIf="formCredentials.get('email')?.errors?.required && 
                  (formCredentials.get('email')!.touched || formCredentials.get('email')!.dirty)"
                  matSuffix
                  matTooltip="Email is required!"
                  (click)="tooltip.toggle()"
                  matTooltipPosition="left"
                  matTooltipClass="tooltip-red"
                  color="warn"
                  >
                  info
            </mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="password">
            <mat-icon #tooltip="matTooltip"
                  *ngIf="formCredentials.get('password')?.errors?.required && 
                  (formCredentials.get('password')!.touched || formCredentials.get('password')!.dirty)"
                  matSuffix
                  matTooltip="Password is required!"
                  (click)="tooltip.toggle()"
                  matTooltipPosition="left"
                  matTooltipClass="tooltip-red"
                  color="warn"
                  >
                  info
            </mat-icon>
          </mat-form-field>

          <button mat-raised-button class="example-full-width mt-5" color="primary" [routerLink]="['signup']"> Quero me cadastrar </button>
          <button mat-raised-button class="example-full-width mt-2" type="submit" [disabled]="!formCredentials.valid" color="accent">Login</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>


