.tooltip-red {
    background: #b71c1c;
}

.full-size {
    height:100vh;
}

.img-main {
    width: 200px;
    height: 180px;
    margin: 0 auto
}

.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://images.unsplash.com/1/type-away.jpg');
    background-size: cover;
}

.w-45 {
    width: 45% !important;
}
